name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0.11
        env:
          MYSQL_ROOT_PASSWORD: yourpassword
          MYSQL_DATABASE: medkink
          MYSQL_USER: medkink_user
          MYSQL_PASSWORD: yourpassword
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost -u root --password=yourpassword"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        while read requirement; do pip install $requirement; done < <(grep -vE "^#|^$" requirements.txt)


    - name: Configure environment variables
      run: |
        echo "DB_HOST=mysql" >> $GITHUB_ENV
        echo "DB_PORT=3306" >> $GITHUB_ENV
        echo "DB_NAME=medkink" >> $GITHUB_ENV
        echo "DB_USER=medkink_user" >> $GITHUB_ENV
        echo "DB_PASSWORD=yourpassword" >> $GITHUB_ENV
        echo "DB_TEST_NAME=test_medkink" >> $GITHUB_ENV

    - name: Run tests
      run: |
        python manage.py test
